.slide-down-enter-active,
.slide-down-leave-active {
  transition: max-height 0.3s ease;
  overflow: hidden;
}
//  {
//   transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
// }

.slide-down-enter,
.slide-down-leave-to {
  max-height: 0;
  overflow: hidden;
}

.slide-down-leave,
.slide-down-enter-to {
  max-height: 1000px;
  overflow: hidden;
}

@keyframes walking-bounce {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(6deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes walking-stride {
  0% {
    left: 0;
    transform: scaleX(1)
  }

  45% {
    left: 89%;
    transform: scaleX(1);
  }

  50% {
    left: 89%;
    transform: scaleX(-1)
  }

  95% {
    left: 0%;
    transform: scaleX(-1);
  }

  100% {
    left: 0%;
    transform: scaleX(1)
  }
}
