$color-teal: #00a2af;
$color-medium-teal: #00757d;
$color-light-green: #cbdb2a;
$color-dark-teal: #263746;
$color-beige: #f2ecdd;
$color-grey: #6d6d6d;
$color-red: #fc3319;

:root {
  --color-teal: #00a2af;
  --color-light-green: #cbdb2a;
  --color-medium-teal: #00757d;
  --color-dark-teal: #263746;
  --color-beige: #f2ecdd;
  --color-grey: #6d6d6d;
  --color-red: #fc3319;
}
