input[type=text],
input[type=email],
input[type=password],
input[type=number],
select,
textarea {
  @apply w-full rounded-lg h-12 px-4;

  border: 3px solid var(--color-teal);

  &.attached {
    @apply rounded-r-none;
  }
}

select {
  @apply pl-2 pr-4;

  -moz-appearance: none;
  -webkit-appearance: none;

  &::-ms-expand {
    display: none;
  }
}

.input-wrapper.select {
  @apply relative;

  &::after {
    @apply absolute;

    top: 50%;
    transform: translateY(-25%);
    right: 20px;
    z-index: 100;
    content: '';
    border: 10px solid transparent;
    border-top-color: var(--color-teal);
    pointer-events: none;
  }
}

.has-error {
  input,
  select,
  textarea,
  button.attached {
    @apply rounded-b-none;
  }

  .error-message {
    @apply px-3 py-1 rounded-b-lg;

    background-color: var(--color-teal);
    color: white;
    font-size: 0.9em;
  }

  .input-wrapper.radio-group,
  .input-wrapper.checkbox {
    @apply mb-4;

    + .error-message {
      @apply rounded-lg w-auto inline-block py-2 px-4;
    }
  }
}

.errors {
  @apply my-8 p-4 text-center rounded-2xl;

  color: var(--color-medium-teal);
  border: 3px solid var(--color-teal);
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  font-weight: 900;
}

.input-wrapper:not(.radio-group):not(.checkbox) {
  @apply relative;

  label {
    @apply absolute px-2 transition-all duration-300 rounded-2xl;

    color: var(--color-grey);
    top: 50%;
    left: 0.7rem;
    transform: translateY(-50%);
    z-index: 2;
    background-color: white;
    pointer-events: none;
    font-size: 0.97em;
  }

  textarea + label {
    top: 10px;
    transform: translateY(0);
    width: 97%;
  }

  select + label {
    color: var(--color-teal);
  }

  textarea {
    @apply py-2 block;

    min-height: 150px;

    &.smaller-text {
      font-size: 0.8em;
    }
  }

  input,
  select,
  textarea {
    @apply relative;

    z-index: 1;
    color: var(--color-dark-teal) !important;
  }

  &.has-input label,
  input:focus + label,
  textarea:focus + label {
    top: 0;
    transform: translateY(-50%);
    font-size: 0.6em;
    color: var(--color-dark-teal);
    width: auto;
  }
}

.radio-group,
.checkbox {
  .main-label {
    @apply block mb-4;

    color: var(--color-teal);

    span.indicator {
      @apply mr-2 relative;

      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 5px;
      border: 2px solid var(--color-grey);
      background-color: transparent;
      flex: 0 0 30px;
      transform: translateY(2px);

      &::before {
        content: '';
        opacity: 0;
        position: absolute;
        top: 6px;
        right: 6px;
        left: 6px;
        bottom: 6px;
        z-index: 20;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 23"><path d="M10.529 22.548L.454 12.524a1.536 1.536 0 010-2.18l2.192-2.182a1.556 1.556 0 012.192 0l6.787 6.753L26.162.452a1.554 1.554 0 012.192 0l2.192 2.18c.605.603.605 1.58 0 2.182L12.721 22.548a1.554 1.554 0 01-2.192 0z" fill="%23FFFFFF"/></svg>');
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    input:checked {
      ~ span.indicator {
        background-color: var(--color-teal);
        box-shadow: inset 0 0 0 3px white;
        border-color: var(--color-teal);

        &::before {
          opacity: 1;
        }
      }
    }

    &:hover span.indicator {
      border-color: var(--color-teal);
      display: inline-block;
    }

    span.label {
      display: inline-block;
    }
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  label:not(.main-label) {
    @apply flex flex-row items-center mr-10;

    span {
      @apply transition-colors duration-100;
    }

    span.label {
      color: var(--color-grey);
      line-height: 1.2em;
    }

    span.indicator {
      @apply mr-2;

      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      border: 2px solid var(--color-grey);
      background-color: transparent;
      flex: 0 0 30px;
    }

    input:checked {
      ~ span.indicator {
        background-color: var(--color-teal);
        box-shadow: inset 0 0 0 3px white;
        border-color: var(--color-teal);
      }

      ~ span.label {
        color: var(--color-dark-teal);
      }
    }

    &:hover span.indicator {
      border-color: var(--color-teal);
    }
  }
}

.checkbox .main-label {
  display: flex;
  flex-direction: row;
}

.application-section .band--inner {
  @apply duration-300 rounded-2xl;

  transition-property: box-shadow;
}

.application--please-finish {
  box-shadow: inset 0 0 0 10px white, inset 0 0 0 13px var(--color-red);
}

button,
.button {
  .walking-dog {
    @apply transition-colors duration-300;

    color: var(--color-dark-teal);
    position: absolute;
    top: -23px;
    animation: walking-stride 11s infinite linear;
    pointer-events: none;

    .fa-dog {
      animation: walking-bounce 0.3s infinite;
    }
  }

  &:not(.disabled):hover {
    .walking-dog {
      color: var(--color-medium-teal);
    }
  }
}

.checkbox--small {
  .checkbox {
    font-size: 0.7em;

    .main-label span.indicator {
      width: 20px;
      height: 20px;
      flex: 0 0 20px;

      &::before {
        top: 3px;
        bottom: 3px;
        left: 3px;
        right: 3px;
      }
    }

    .main-label input:checked ~ span.indicator {
      background-color: var(--color-teal);
      box-shadow: inset 0 0 0 2px white;
      border-color: var(--color-teal);
    }
  }
}
