html,
body {
  overflow-x: hidden;
}

.band--inner {
  @apply mx-auto;

  max-width: 1140px;
  width: 100%;
}

img.alignright {
  &,
  a & {
    @apply w-2/5 float-right ml-6 mb-6;

    @screen md {
      @apply ml-16 mb-16;
    }
  }
}

img.alignleft {
  &,
  a & {
    @apply w-2/5 float-left mr-6 mb-6;

    @screen md {
      @apply mr-16 mb-16;
    }
  }
}

img.aligncenter {
  &,
  a & {
    @apply w-full mb-8;

    @screen md {
      @apply block mx-auto my-16;
    }
  }
}

img[class*="wp-image-"] {
  @apply rounded-2xl;
}
