%controled-image-size {
  @apply relative rounded-2xl overflow-hidden;

  &::after {
    content: "";
    display: block;
  }

  img {
    @apply absolute inset-0;

    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

%rect-image {
  @extend %controled-image-size;

  &::after {
    padding-top: 60%;
  }
}

%square-image {
  @extend %controled-image-size;

  &::after {
    padding-top: 100%;
  }
}

%angled-box {
  @apply relative;

  color: white;

  &::after {
    @apply absolute rounded-3xl;

    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-40%, -50%) skew(-3deg);
    width: 105%;
    height: 110%;
    margin-left: -10%;
    background-color: var(--color-teal);
    z-index: 1;

    @screen md {
      transform: translate(-40%, -50%) skew(-20deg);
      width: 107%;
    }
  }

  * {
    position: relative;
    z-index: 2;
  }
}
