@import url("https://use.typekit.net/huy8rcm.css");
// @import url("//hello.myfonts.net/count/3d5299");

// @font-face {
//   font-family: "kapra-neue-semi-bold";
//   src: url('../webFonts/KapraNeueSemiBoldExpanded/font.woff2') format('woff2'), url('../webFonts/KapraNeueSemiBoldExpanded/font.woff') format('woff');
// }

// @font-face {
//   font-family: "kapra-neue-light";
//   src: url('../webFonts/KapraNeueLightExpanded/light-font.woff2') format('woff2'), url('../webFonts/KapraNeueLightExpanded/light-font.woff') format('woff');
// }

:root {
  --font-family--headings: 'adelle-sans', sans-serif;
  --font-family--headings__light: 'adelle-sans', sans-serif;
  --font-family--body: 'adelle-sans', sans-serif;
}

body {
  font-size: 20px;
  font-family: var(--font-family--body);

  @screen md {
    font-size: 24px;
  }
}

.standout {
  font-size: 1.15em;
  font-weight: bold;
}

.standout--green {
  color: var(--color-light-green);
}

.standout--teal {
  color: $color-teal;
}

.standout--medium-teal {
  color: var(--color-medium-teal);
}

.standout--dark-teal {
  color: var(--color-dark-teal);
}

p {
  margin-top: 2rem !important;

  &:first-of-type {
    margin-top: 0 !important;
  }
}

h1,
.heading-1 {
  font-size: 2.6em;
  line-height: 1.2em;
  font-family: var(--font-family--headings);
  color: var(--color-dark-teal);
  font-weight: 900;

  small {
    display: block;
    font-family: var(--font-family--headings__light);
    font-weight: 300;
  }
}

h2,
.heading-2 {
  font-size: 2.2em;
  line-height: 1.2em;
  font-family: var(--font-family--headings);
  color: var(--color-dark-teal);
  font-weight: 900;
}

h3,
.heading-3 {
  font-size: 1.3em;
  line-height: 1.2em;
  font-family: var(--font-family--headings);
  color: var(--color-dark-teal);
  font-weight: 900;
}

h4 {
  @apply mb-4;

  font-size: 1.1em;
  font-weight: 900;
}

h5 {
  @apply mb-4;

  font-size: 0.95em;
  font-weight: 900;
}

h6 {
  @apply mb-4;

  font-size: 0.9em;
  font-weight: 900;
}

.footnote {
  font-size: 0.67em;
  line-height: 20px;
}

a:not(.button) {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

p.small-teal {
  margin-top: 1rem !important;
  color: var(--color-medium-teal);

  &,
  button.link {
    font-size: 18px;
  }
}
