@import "colors";
@import "typography";
@import "elements/buttons";

.wp-editor {
  .text-center {
    text-align: center;
  }

  .text-left {
    text-align: left;
  }

  .text-right {
    text-align: right;
  }

  .text-justify {
    text-align: justify;
  }

  .mce-content-body a.button[data-mce-selected] {
    @apply rounded-lg px-8 py-3 duration-300;

    margin: unset;
    box-shadow: unset;
    background-color: var(--color-dark-teal);
  }
}
