<template>
  <section class="hero band" :class="{ 'empty-hero': !hasData }" :style="heroStyles">
    <div class="band--inner">
      <div v-if="hasData" class="md:w-1/2">
        <div
          v-if="data.display_contest_logo"
          class="svg-shadow md:w-5/6 md:mb-8 w-2/3 mx-auto mb-24"
        >
          <B4YPLogo />
        </div>
        <h1 v-else>{{ data.headline }}</h1>
        <p v-html="data.copy"></p>
      </div>
    </div>
  </section>
</template>

<script>
import B4YPLogo from '../../assets/svgs/b-4-yp-on-dark.svg';

export default {
  name: 'Hero',
  components: {
    B4YPLogo,
  },
  props: {
    data: Object,
  },
  computed: {
    heroStyles() {
      return this.data.background_image
        ? `background-image: url(${this.data.background_image})`
        : null;
    },
    hasData() {
      return this.data.headline !== '' || this.data.copy !== '' || this.data.display_content_logo || this.data.background_image;
    },
  },
};
</script>
