.angled-box {
  @extend %angled-box;

  &.angled-box__background--light-green {
    color: var(--color-dark-teal);

    &::after {
      background-color: var(--color-light-green);
    }
  }

  &.angled-box__background--medium-teal {
    &::after {
      background-color: var(--color-medium-teal);
    }
  }

  &.angled-box__background--dark-teal {
    &::after {
      background-color: var(--color-dark-teal);
    }
  }

  &.angled-box__background--beige {
    color: var(--color-dark-teal);

    &::after {
      background-color: var(--color-beige);
    }
  }

  &.angled-box__background--grey {
    color: var(--color-dark-teal);

    &::after {
      background-color: var(--color-grey);
    }
  }
}
