.check-list ul {
  @screen md {
    columns: 2;
  }

  li {
    @apply mb-6;

    align-items: flex-start;
    color: var(--color-teal);
    font-size: 0.85em;
    line-height: 1.5em;
  }

  svg {
    width: 31px;
    margin-top: 2px;
    margin-right: 20px;
  }
}
