.content__angled-boxes-background {
  @apply relative;

  &.content__background--teal {
    h3,
    p:not([class*=standout-]) {
      color: white;
    }

    &::after {
      background-color: var(--color-teal);
    }
  }

  &.content__background--medium-teal {
    h3,
    p:not([class*=standout-]) {
      color: white;
    }

    &::after {
      background-color: var(--color-medium-teal);
    }
  }

  &.content__background--dark-teal {
    h3,
    p:not([class*=standout-]) {
      color: white;
    }

    &::after {
      background-color: var(--color-dark-teal);
    }
  }

  &.content__background--beige {
    &::after {
      background-color: var(--color-beige);
    }
  }

  &.content__background--grey {
    &::after {
      background-color: var(--color-grey);
    }
  }

  .band--inner {
    @screen md {
      @apply px-48 py-10;
    }
  }

  &::before,
  &::after {
    @apply rounded-3xl absolute;

    content: "";
    transform: skew(-3deg);
    top: 0;
    bottom: 0;

    @screen md {
      transform: skew(-20deg);
      height: 100% !important;
    }
  }

  &::before {
    height: 110%;
    width: 120%;
    top: -10%;
    left: -100px;
    background-color: var(--color-teal);
    z-index: 1;

    @screen md {
      width: 60%;
    }
  }

  &::after {
    height: 110%;
    width: 123%;
    bottom: -10%;
    right: -100px;
    background-color: var(--color-light-green);
    z-index: 2;

    @screen md {
      width: 99%;
    }

    @screen lg {
      width: 95%;
    }
  }

  * {
    @apply relative;

    z-index: 3;
  }
}

.content-holder {
  ul {
    @apply list-inside list-disc my-8 ml-4;
  }

  ol {
    @apply list-outside list-decimal my-8 ml-4 pl-4;

    li {
      @apply mb-6;
    }
  }

  blockquote {
    @apply relative p-4 w-4/5 mx-auto my-16 text-xl;

    color: white;

    + blockquote {
      @apply mt-24;
    }

    &::after {
      @apply absolute rounded-3xl;

      content: "";
      left: 50%;
      top: 50%;
      transform: translate(-40%, -50%) skew(-3deg);
      width: 105%;
      height: 110%;
      margin-left: -10%;
      background-color: var(--color-teal);
      z-index: 1;
    }

    * {
      position: relative;
      z-index: 2;
    }
  }

  p {
    + h1,
    + h2,
    + h3,
    + h4,
    + h5,
    + h6 {
      @apply mt-8;
    }
  }

  hr {
    @apply my-8;
  }
}
