.gallery-band {
  ul {
    @apply flex flex-row flex-wrap;

    li {
      @apply w-1/3 pb-8 pr-8;

      button {
        @apply w-full;
      }

      figure {
        @apply w-full;

        @extend %square-image;
      }
    }
  }
}
