.hero {
  #home & {
    background-repeat: no-repeat;
    background-size: auto 200%;
    background-position: 67% 99%;

    @screen md {
      background-position: bottom center;
      background-size: auto 150%;
    }

    @screen xl {
      background-size: cover;
      background-position-y: 81%;
    }
  }

  .page & {
    padding-bottom: 1rem;
  }

  #page-1679 &.empty-hero {
    padding: 0;

    @screen md {
      padding-top: 300px;
    }
  }

  #page-137 & {
    background-size: auto 130%;
    background-position-y: bottom;

    @screen md {
      background-size: cover;
      background-position: center 81%;
    }
  }

  #page-359 & {
    @apply pb-32;

    h1 {
      font-size: 2em;

      @screen md {
        font-size: 4em;
      }
    }
  }

  @apply w-full pt-32 pb-24 px-8 relative;

  background-size: cover;
  background-position: center 81%;

  @screen md {
    @apply pb-32 px-16;

    padding-top: 300px;
  }

  h1 {
    font-size: 4em;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  }

  &::after {
    @apply absolute inset-0;

    content: '';
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.7) 100%);
    z-index: 1;

    @screen md {
      display: none;
    }
  }

  * {
    position: relative;
    z-index: 2
  }

  p {
    color: white;
    line-height: 38px;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  }

  .svg-shadow {
    -webkit-filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.4));

    @screen md {
      -webkit-filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.4));
      filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.4));
    }
  }
}

.secondary-hero {
  @apply relative;

  &::before {
    @apply absolute rounded-3xl;

    content: "";
    top: 20px;
    bottom: 20px;
    left: -25%;
    right: 5%;
    transform: skew(-3deg);
    background-color: var(--color-light-green);
    z-index: 2;

    @media screen and (min-width: 820px) {
      right: 35%;
      transform: skew(-20deg);
    }
  }

  &.secondary-hero__background--teal {
    h3,
    p:not([class*=standout-]) {
      color: white;
    }

    &::before {
      background-color: var(--color-teal);
    }
  }

  &.secondary-hero__background--medium-teal {
    h3,
    p:not([class*=standout-]) {
      color: white;
    }

    &::before {
      background-color: var(--color-medium-teal);
    }
  }

  &.secondary-hero__background--dark-teal {
    h3,
    p:not([class*=standout-]) {
      color: white;
    }

    &::before {
      background-color: var(--color-dark-teal);
    }
  }

  &.secondary-hero__background--beige {
    &::before {
      background-color: var(--color-beige);
    }
  }

  &.secondary-hero__background--grey {
    &::before {
      background-color: var(--color-grey);
    }
  }

  .image {
    @apply absolute rounded-3xl;

    top: 0;
    bottom: -180px;
    right: -25%;
    left: -50px;
    z-index: 2 !important;
    overflow: hidden;

    @screen md {
      transform: skew(-20deg);
      left: 35%;
      bottom: -40px;
    }

    img {
      @apply absolute;

      bottom: -30px;
      height: 100%;
      width: 100%;
      left: -80px;
      object-fit: cover;
      object-position: bottom center;

      @screen md {
        transform: skew(20deg);
        left: -19%;
      }

      @media screen and (min-width: 820px) {
        height: 130%;
      }

      @screen xl {
        left: -18%;
        height: 180%;
      }
    }
  }

  * {
    @apply relative;

    z-index: 3;
  }
}

.page .empty-hero {
  padding-bottom: 0;

  + .band .band--inner {
    margin-top: 0;
  }

  &::after {
    background: transparent;
  }
}
