.icon-columns ul {
  @apply grid grid-cols-2 gap-4;

  @screen md {
    @apply grid-cols-4;
  }

  li {
    @apply mb-6 text-center relative pt-24;

    line-height: 1.5em;

    strong {
      @apply mb-4 inline-block;

      font-size: 1.15em;
    }
  }

  img {
    @apply absolute;

    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
}
