.locations-map {
  @apply relative p-0;

  height: 50vh;

  @screen md {
    height: 100vh;
  }

  .vue-map-container {
    @apply absolute inset-0;
  }
}

.map-legend {
  @apply absolute p-4 pr-6 flex flex-row rounded-2xl items-center;

  background-color: white;
  top: -120px;
  right: 10px;
  font-size: 0.9em;
  font-weight: 900;
  color: var(--color-dark-teal);
  width: 250px;

  @screen md {
    top: -100px;
    right: -65px;
    width: auto;
  }

  svg {
    @apply mr-4;

    width: 20px;
    height: auto;
  }
}

.locations-map-wrapper {
  .form .angled-box {
    p {
      margin-top: 0 !important;
      font-weight: bold;
    }

    &::after {
      width: 200%;
      background-color: var(--color-dark-teal);

      @screen md {
        width: 105%;
      }
    }
  }
}

.locations-list {
  li {
    @apply rounded-2xl my-8;

    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  }

  figure {
    @extend %rect-image;
  }

  .tag {
    font-size: 0.6em;
  }
}

.info-window {
  @apply items-center;

  width: 200px;
  height: auto;
  overflow: hidden;

  @screen md {
    width: 400px;
  }

  figure {
    @apply rounded-lg relative hidden;

    @extend %square-image;

    height: 30px;

    @screen md {
      @apply mr-4 inline-block;

      height: auto;
    }

    &.finalist {
      @apply inline-block;
    }
  }

  .content {
    h3 {
      @apply text-xl;
    }

    p {
      @apply text-lg mb-4;
    }
  }
}

.tag {
  @apply absolute inset-x-0 z-20 p-1 text-center;

  bottom: 0;
  background-color: var(--color-red);
  color: white;
  font-weight: 900;
  text-transform: uppercase;

  svg {
    path {
      fill: white;
    }
  }
}

.location-filters {
  button {
    svg.award {
      left: 20px;
      top: 50%;
      transform: translateY(-50%);

      path {
        fill: white;
      }
    }
  }
}
