footer {
  @apply relative p-16 mt-56;

  background-color: var(--color-dark-teal);

  .footer-top {
    @apply absolute;

    bottom: 99%;
    right: -110%;
    width: 1800px;
    z-index: -1;

    @screen md {
      @apply w-full left-0;
    }
  }

  .footer-bottom {
    nav {
      @apply w-full flex flex-col justify-center;

      @screen md {
        @apply flex-row items-center justify-between;
      }

      .logo {
        @apply order-1 mx-auto;

        height: auto;
        width: 245px;

        @screen md {
          @apply ml-0 mr-auto;
        }
      }

      ul {
        @apply mx-auto order-4 flex flex-row items-center;

        @screen md {
          @apply order-2 ml-0 mr-auto;
        }

        li a {
          @apply px-6 py-4;

          color: white;
          font-weight: bold;
          text-decoration: none;
        }
      }

      + p {
        color: white;
        font-size: 0.9em;
        margin-top: 2rem !important;

        @screen md {
          margin-top: 0 !important;
        }
      }

      .button {
        @apply order-3 my-8;

        @screen md {
          @apply my-0;
        }
      }
    }

    .copyright {
      @apply pt-16;

      p,
      li a {
        color: white;
        font-size: 0.55em;
      }

      ul {
        @apply flex flex-row mt-1 flex-wrap;

        li a {
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }

        li::after {
          @apply mx-4;

          content: "|";
          color: white;
        }

        li:last-of-type::after {
          @apply mx-0;

          content: "";
        }
      }
    }
  }
}
