.main-header {
  @apply w-full;

  @screen md {
    position: fixed;
    z-index: 10000;
  }

  &__announcement {
    @apply w-full p-2 text-center relative;

    background-color: var(--color-light-green);
    color: var(--color-dark-teal);
    font-weight: bold;
    top: 0;
    transition: margin-top 0.2s ease-in-out;
  }

  nav {
    background-color: white;
    transition: all 0.2s ease-in-out;
    position: relative;
    z-index: 10;

    @screen md {
      background-color: rgba($color-teal, 0.5);
    }

    .band--inner {
      @apply justify-center w-full;

      .button {
        @apply mx-4 -mb-10;

        @screen md {
          @apply mb-0 px-2;
        }

        @media (min-width: 820px) {
          @apply px-8;
        }
      }

      @screen md {
        @apply p-6;

        .button {
          @apply rounded-lg;
        }
      }

      &,
      ul {
        @apply flex flex-col text-center w-full list-none;

        @screen md {
          @apply flex-row items-center w-auto;
        }
      }

      .logo {
        @apply m-4;

        width: 100px;
        height: auto;
        transition: width 0.2s ease-in-out;

        @screen md {
          @apply m-0 mr-auto;

          width: 150px;
        }

        @media (min-width: 900px) {
          width: 200px;
        }

        &.no-menu {
          @apply mx-auto;

          width: 150px;

          @screen md {
            @apply m-0 mr-auto;

            width: 245px;
          }
        }
      }

      ul {
        @apply overflow-hidden duration-300;

        max-height: 0;
        transition-property: max-height;

        @screen md {
          max-height: 1000px;
        }

        li a {
          @apply py-4 block relative;

          font-weight: bold;
          color: var(--color-dark-teal);
          transition: color 0.2s ease-in-out;
          text-decoration: none;

          @screen md {
            @apply px-4 py-4;
          }

          @media (min-width: 900px) {
            @apply px-6;
          }

          &::after {
            @apply absolute rounded transition-opacity duration-300;

            content: '';
            height: 3px;
            opacity: 0;
            left: 1.75rem;
            right: 1.75rem;
            background-color: var(--color-dark-teal);
            bottom: 10px;
          }

          &.router-link-active::after {
            @apply delay-300;

            opacity: 1
          }
        }

        &.main-header--menu-is-open {
          max-height: 400px;
        }
      }
    }
  }

  .main-header--mobile-menu-trigger {
    @apply absolute block;

    height: 24px;
    width: 25px;
    top: 30px;
    right: 30px;

    @screen md {
      display: none;
    }

    span {
      @apply absolute rounded-lg duration-300;

      width: 100%;
      height: 5px;
      background-color: var(--color-grey);
      left: 50%;
      transform: translateX(-50%);
      transition-property: opacity transform top bottom;

      &:first-of-type {
        top: 0;
        transform-origin: center left;
      }

      &:nth-of-type(2) {
        @apply duration-200;

        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
      }

      &:last-of-type {
        bottom: 0;
        transform-origin: center left;
      }
    }

    &.main-header--menu-is-open {
      span {
        &:first-of-type {
          top: 0.5px;
          transform: translateX(-39%) rotate(45deg);
        }

        &:nth-of-type(2) {
          opacity: 0;
        }

        &:last-of-type {
          bottom: 0.5px;
          transform: translateX(-39%) rotate(-45deg);
        }
      }
    }
  }

  @screen md {
    nav.scrolling {
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

      .band--inner {
        .logo {
          width: 175px;
        }

        ul li a {
          color: var(--color-dark-teal);
        }
      }
    }
  }
}

.main-header--application-button__hide {
  opacity: 0;
  pointer-events: none;
}
