.media-uploader--dropzone {
  @apply relative my-8;

  > h3 {
    @apply justify-items-stretch;

    small {
      font-size: 0.6em;
      line-height: 1.4em;
      align-self: flex-end;
      font-weight: 400;
      color: var(--color-teal);
      text-align: right;
      width: 37%;

      span {
        white-space: nowrap;
      }
    }
  }
}

.media-uploader--visual-input {
  @apply relative;

  input {
    cursor: pointer;
  }

  small {
    @apply absolute;

    right: 33%;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-medium-teal);
    text-transform: uppercase;
    font-size: 0.65em;
    font-weight: bold;

    @media (min-width: 940px) {
      right: 28%;
    }
  }

  button {
    white-space: nowrap;
    line-height: 1em;
    min-width: 30%;

    @media (min-width: 940px) {
      min-width: 25%;
    }
  }
}

.media-uploader--file {
  @apply mt-8;

  button {
    position: absolute;
    line-height: 1;
    text-shadow: 0 0 2px rgba(white, 0.5);
    top: 10px;
    right: 15px;

    svg path {
      @apply transition-colors duration-300;

      color: var(--color-teal);
    }

    &:hover svg path {
      color: var(--color-medium-teal);
    }
  }
}

.media-uploader--file__image {
  @extend %square-image;
}

.media-uploader--dropzone__highlight {
  @apply absolute rounded-2xl transition-all duration-300;

  background-color: var(--color-teal);
  opacity: 0;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  z-index: -1;

  h3 {
    color: white;
    text-align: center;
    width: 100%;
  }

  .media-uploader--dropzone__highlighted & {
    opacity: 0.95;
    z-index: 10;
  }

  .media-uploader--active-dropzone & {
    background-color: var(--color-dark-teal);
  }
}
