.posts {
  article {
    @apply flex flex-row;

    .figure-wrapper {
      @apply w-1/2 mr-4 order-2 pl-4;

      @screen md {
        @apply order-1 pl-0;
      }

      .button {
        @apply block mt-8;

        @screen md {
          @apply hidden;
        }
      }
    }

    .content {
      @apply w-1/2;

      @screen md {
        @apply order-1;
      }

      .heading-3 {
        @apply mb-4;
      }
    }

    figure {
      @extend %square-image;
    }
  }

  &.posts-band--layout__row {
    .articles {
      article {
        @apply mb-16;
      }

      h3 {
        font-size: 1em;
      }

      p,
      .button {
        font-size: 0.8em;
      }

      .button {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }

      @screen md {
        @apply flex flex-row justify-between flex-wrap;

        article {
          @apply flex-col;

          width: 30%;

          .figure-wrapper {
            @apply mb-8 w-full;
          }

          .content {
            @apply w-full;
          }

          .content .button {
            @apply block mt-8;
          }
        }
      }
    }
  }

  &.posts-band--layout__stacked {
    .band--inner > h3 {
      @apply text-center;
    }

    p,
    .button {
      font-size: 0.8em;
    }

    article {
      @apply mb-16;

      @screen md {
        @apply flex-row items-center;

        .figure-wrapper {
          @apply w-1/3 mr-4;
        }

        .content {
          @apply w-2/3 pl-24;
        }

        .content .button {
          @apply inline-block mt-16;
        }

        p,
        .button {
          font-size: 1em;
        }
      }
    }
  }
}
