.modal--overlay {
  @apply fixed inset-0;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100000;

  .modal--container {
    @apply absolute overflow-x-scroll rounded-2xl;

    left: 50%;
    max-height: 90vh;
    max-width: 900px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;

    .close {
      @apply absolute;

      top: 20px;
      right: 20px;
      width: 20px;
      height: 20px;
    }
  }

  .modal--content {
    @apply px-8 pt-8 pb-16;

    background-color: white;
    width: 100%;

    @screen md {
      @apply px-16;
    }

    input {
      @apply text-center;
    }

    .success {
      svg {
        width: 20%;
        margin: 0 auto;
      }

      p {
        margin-top: 2rem !important;
      }
    }

    p.error {
      @apply rounded-t-lg p-2;

      font-size: 18px;
      background-color: rgb(135, 0, 0);
      color: white;

      + input {
        @apply rounded-b-lg rounded-t-none;

        border-color: rgb(135, 0, 0);
      }
    }
  }
}
