.voting-modal {
  h3 {
    font-size: 1.5em;

    @screen md {
      font-size: 2em;
    }
  }

  p,
  p.error {
    font-size: 0.8em !important;

    &.long-error-message {
      font-size: 0.6em !important;
    }

    @screen md {
      font-size: unset !important;
    }
  }

  .park-details {
    figure {
      @extend %square-image;
    }
  }
}
