.finalist-badge {
  svg {
    path {
      fill: var(--color-teal);
    }
  }

  p {
    color: var(--color-teal);
    margin-top: 0 !important;
  }
}

.featured-image {
  svg {
    position: absolute;
    z-index: 20;
    width: 74px;
    top: 20px;
    left: 20px;

    path {
      fill: white;
    }
  }
}
