<template>
  <footer v-if="allSettingsLoaded">
    <div class="footer-top">
      <div class="footer-clouds px-16 pb-8">
        <Clouds />
      </div>
      <div class="footer-park">
        <Park />
      </div>
    </div>
    <div class="footer-bottom band--inner">
      <nav>
        <router-link to="/" class="logo">
          <B4YPLogo />
        </router-link>
        <ul>
          <li v-for="(link, index) in menu.items" :key="index">
            <router-link :to="link.name" :title="link.title">{{
              link.label
            }}</router-link>
          </li>
        </ul>
        <button
          v-if="callToAction.display_cta"
          v-on:click="$emit('doOpenSignupModal')"
          class="button bordered"
        >
          {{ callToAction.label }}
        </button>
      </nav>
      <p class="text-center">
        Email Us at <a href="mailto:barkforyourpark@petsafe.net">barkforyourpark@petsafe.net</a>
      </p>
      <div class="copyright md:items-center flex flex-row">
        <div class="md:w-1/6 lg:w-1/12 w-4/5">
          <PetsafeLogo />
        </div>
        <div class="flex-grow ml-8">
          <p>
            ©2021 Radio Systems Corporation. All rights reserved. Bark For Your Park™ is a trademark
            of Radio Systems Coporation’s PetSafe® brand.
          </p>
          <ul>
            <li v-for="(link, index) in footerMenu.items" :key="index">
              <a
                v-if="link.type === 'custom'"
                :href="link.name"
                :title="link.title"
                target="_blank"
              >
                {{link.label}}
              </a>
              <router-link v-else :to="link.name" :title="link.title">{{
                link.label
              }}</router-link>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
import { mapGetters } from 'vuex';
import Clouds from '../assets/svgs/clouds.svg';
import Park from '../assets/svgs/park-silhouette.svg';
import B4YPLogo from '../assets/svgs/b-4-yp-on-dark.svg';
import PetsafeLogo from '../assets/svgs/petsafe.svg';

export default {
  name: 'MainFooter',
  components: {
    Clouds,
    Park,
    B4YPLogo,
    PetsafeLogo,
  },
  computed: {
    ...mapGetters({
      menu: 'menu',
      footerMenu: 'footerMenu',
      allSettingsLoaded: 'allSettingsLoaded',
    }),
    callToAction() {
      return this.footerMenu['call-to-action'] || {};
    },
  },
};
</script>
