.button {
  @apply rounded-lg px-8 py-3 duration-300;

  background-color: var(--color-dark-teal);
  color: white;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  transition-property: background-color color;
  text-decoration: none;

  &.secondary {
    background-color: var(--color-teal);

    &:not(.disabled):hover {
      background-color: var(--color-medium-teal);
    }
  }

  &.attached {
    @apply rounded-l-none;
  }

  &.bordered {
    box-shadow: inset 0 0 0 3px white;
  }

  &:not(.disabled):hover {
    background-color: var(--color-medium-teal);
  }

  &.disabled {
    pointer-events: none;
  }

  &.text-only {
    background-color: unset;
    color: var(--color-dark-teal);

    &:hover {
      background-color: unset;
      color: var(--color-teal);
    }
  }

  &.button--compact {
    @apply px-4 py-2;
  }

  &.large {
    width: 60%;
    margin: 0 auto;
  }
}

button.link {
  color: var(--color-medium-teal);
  font-size: 0.9em;
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}
